<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>UnLinked[dot]In</title>
</head>
<body>
	<a class="btn btn-default" href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id={{.APIKey}}&scope=r_fullprofile%20r_contactinfo&state={{.CSRFToken}}&redirect_uri={{.SiteURL}}/auth/redirect" target="_blank">Unlinked</a>
</body>
</html>